.header{
    width: 96vw;
    border-bottom: 1px solid #ddd;
    padding: 0 5rem;
}

@media screen and (max-width:450px){
    .header nav{
        display: none;
        /* padding: 0; */
    }
    
    .header{
        /* width: 50vw; */
        padding: 0 2rem;
    }
}

.create-main-container{
    width: 98vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 87vh;
}

.text-div{
    display: flex;
    flex-direction: column;
}

.create-char{
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    align-items: center;
}

.create-char p{
    font-size: 0.8rem;
}

.fetch-button{
    background-color: #444;
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
    font-size: 0.8rem;
}

.fetch-button:active{
    background-color: #ccc;
}

.input-box{
    border: 1px solid #000;
    resize: vertical;
    border-radius: 5px;
    height: 200px;
    width: 40vw;
    padding: 0.6rem 1rem;
    font-size: 0.85rem;
    outline: none;
}

.create-title{
    font-size: 4vw;
    padding: 2rem 0;
}

@media screen and (max-width:768px){
    .input-box{
        width: 70vw;
    }
}

@media screen and (max-width:450px){
    .create-title{
        font-size: 6vw;
    }

    .create-char{
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
    }

    .create-fetch-button{
        align-self: center;
        /* padding-top: 1rem; */
    }
}

.contact-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90vw;
    /* background-color: red; */
    padding: 2rem;
}

.contact-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* width: 60vw; */
}

.contact-heading{
    padding-bottom: 2rem;
}

.form-container{
    width: 50vw;
}

.form-container Input{
    margin-bottom: 0.8rem;
    outline: none;
    /* border: none; */
}

@media screen and (max-width:768px) {
    .contact-section{
        width: 97vw;
    }

    .form-container{
        width: 75vw;
    }

    .ch-2{
        font-size: 0.8rem;
    }
}

.create-dropdown{
    border: 1px solid #000;
}

.select-button{
    /* background-color: red; */
    padding: 0.4rem 1rem;
    border-radius: 5px;
    margin-bottom: 2rem;
}

.select-value{
    border-radius: 15px;
    background-color: #999;
}